.collapse {
  transform: translateX(-170px);
}
.hidden {
  display: none;
}
.selected {
  border: 1px solid red;
}
.dark-mode {
  background-color: #000000;
  color: white;
}
.dark-sidebar {
  background-color: #050505;
  color: white;
}
